.banner {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.192)),
    url('../../images/background_australie.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center; /* Center align text */
}

.banner h1 {
  padding-top: 2em; /* Add some space at the top */
  color: #ffffff; /* Travel-themed blue for heading text */
  font-size: 90px; /* Slightly smaller font size */
  font-weight: bold; /* Make the text bold */
  align-self: flex-start; /* Align h1 to the top */
}

.banner h2 {
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent white background */
  margin-top: 2em;
  margin-bottom: 2em;
  color: #ffffff; /* Travel-themed blue for subheading text */
  font-size: 36px; /* Slightly smaller font size */
  font-weight: lighter;
  opacity: 1; /* Full opacity for better readability */
  padding: 10px; /* Add padding for better spacing */
  border-radius: 5px; /* Add a slight border-radius for style */
}
