.btn-blue {
    text-align: center;
    position: relative;
    background-color: #007acc;
    color: white;
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1em;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-blue:hover {
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
}
